/* General set-up to have no spacing at first use */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

/* Set-up body info to keep same background color and align all text */
body {
    background-color: #ECE3CE;
    text-align: center;
    color: #363062;
}

h2 {
  color: #739072;
  font-size: 45px;
}

/* Formats paragraph next to main image on home screen */
#description {
  font-size: 22px;
}

#importantText {
  color: #4F6F52;
  font-weight: bold;
  font-size: 23px;
}

/* Rounds corners of image on home screen */
#homeImg {
  border-radius: 16px;
}

/* Create columns to split page in half*/
.column {
  float: left;
}

.column.two {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 40px;
}

/* Clear floats after the columns */
.row::after {
  content: "";
  display: table;
  clear: both;
}

.content {
  padding-top: 50px; /* Adjust padding to create space for the icon */
  /* Other necessary styles for the content area */
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
}

.icon img {
  width: 50px;
  height: 50px;
}

header {
  display:flex;
  justify-content: center;
  align-items: center;
  position:sticky;
  background-color: #3A4D39;
  color: #ECE3CE;
  padding: 25px;
}

.navbar {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 998; /* Adjust z-index to be below the icon */
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 35px;
}

nav ul li a {
  color: #ECE3CE;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
}

nav ul li a:hover {
  color: white;
}

/* Styling for the button */
.center {
  text-align: center;
  margin-top: 50px; /* Adjust margin-top as needed */
}

.big-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for the sections */
section {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom style for the Services section */
#services {
  background-color: #d0d0d0;
}
