* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Lexend Deca', sans-serif;
}

body {
    background-color: #FFFBF5;
    text-align: center;
    color: #C3ACD0;
}

h2 {
  color: #7743DB;
  font-size: 30px;
}

#importantText {
  color: #7743DB;
  font-weight: bold;
}

.content {
  padding-top: 50px; /* Adjust padding to create space for the icon */
  /* Other necessary styles for the content area */
}

.icon {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  padding: 10px;
}

.icon img {
  width: 50px;
  height: 50px;
}

header {
  display:flex;
  justify-content: center;
  align-items: center;
  position:sticky;
  background-color: #C3ACD0;
  color: #fff;
  padding: 20px;
}

.navbar {
  position: sticky;
  top: 0;
  right: 0;
  z-index: 998; /* Adjust z-index to be below the icon */
  padding: 10px;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav ul li {
  display: inline;
  margin-right: 20px;
}

nav ul li a {
  color: #fff;
  text-decoration: none;
}

/* Styling for the button */
.center {
  text-align: center;
  margin-top: 50px; /* Adjust margin-top as needed */
}

.big-button {
  display: inline-block;
  padding: 15px 30px;
  font-size: 20px;
  background-color: #3498db;
  color: white;
  text-decoration: none;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

/* Styling for the sections */
section {
  height: 100vh;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Custom style for the Services section */
#services {
  background-color: #d0d0d0;
}
